# RECURSION

### Higher Order Functions

- Functions that take other functions as arguments or return functions as results.

-- Examples of Higher order functions
- map() 
- filter()
- reduce()

In [3]:
#Using map
numbers=[1,2,3,4,5,6,7,8,9,10]
evens=map(lambda x:x %2==0,numbers)
print(list(evens))

[False, True, False, True, False, True, False, True, False, True]

In [4]:
#Using map
numbers=[1,2,3,4,5,6,7,8,9,10]
sq=map(lambda x:x**2,numbers)
print(list(sq))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#Using filter
numbers=[1,2,3,4,5,6,7,8,9,10]
evens=filter(lambda x:x %2==0,numbers)
print(list(evens))

[2, 4, 6, 8, 10]

In [5]:
#lambda arguments:expression

In [6]:
#Without Using Filter
numbers=[1,2,3,4,5,6,7,8,9,10]
result=[]
for i in numbers:
    if i%2==0:
        result.append(i)
result

[2, 4, 6, 8, 10]

In [7]:
numbers=[1,2,3,4,5]
result=1
for num in numbers:
    result*=num
result

120

In [8]:
#using reduce
from functools import reduce
numbers=[1,2,3,4,5]
products=reduce(lambda x,y:x*y,numbers)
print(products)

120

REDUCE() function: The reduce() function from the functtools module successively applies a binary function to the items 
    of an iterable,reducing them to a single accumulated result.]

MAP() function: It applies a given function to all the terms in an input list or iterable.

Global and local variable

In [10]:

def myfunc():
    a1=34
    print(a1)
myfunc()
print(a1)

34

NameError: name 'a1' is not defined

In [11]:
y1=50
def myfunc():
    y1=20
    print(y1)
myfunc()
print(y1)

20
50

In [12]:
y1=50
def myfunc():
    print(y1)
myfunc()
print(y1)

50
50

In [14]:
b=300
def myfunc():
    global b
    b=20
    print(b)
myfunc() 
print(b)

20
20

In [15]:
slobal_var=10
def func():
    local_var=50
    #Attempting to access a variable defined outside the function
    print("Inside func():",global_var)
func()
#Attempting to access  a variable defined inside the function from outside the function
print("Outside func():",local_var)

Inside func(): 10

NameError: name 'local_var' is not defined