In [1]:
mytuple=(31,2,3,'four',5.0,'*',19)
mytuple[4]

5.0

In [2]:
var=["hello",]
print(type(var))

<class 'list'>

In [3]:
mytuple=(31,2,3,'four',5.0,'*',19)
mytuple[7]

IndexError: tuple index out of range

In [7]:
mytuple=(31,2,3,'four',5.0,'*',19)
mytuple[4:6]

(5.0, '*')

In [8]:
mytuple=(31,2,3,'four',5.0,'*',19)
mytuple[1:6:2]

(2, 'four', '*')

In [9]:
mytuple=(31,2,3,'four',5.0,'*',19)
mytuple[::-1]

(19, '*', 5.0, 'four', 3, 2, 31)

In [10]:
tuple1=(1,2,3)
tuple2=('a','b','c')
tuple1+tuple2

(1, 2, 3, 'a', 'b', 'c')

In [11]:
tuple1=(1,2,3)
tuple1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
tuple1=(1,2,3)
tuple1[0]="zero"

TypeError: 'tuple' object does not support item assignment

In [13]:
len(tuple1)

3

In [15]:
mytuple=(31,2,3,'four',5.0,'*',19)
sorted(mytuple)

TypeError: '<' not supported between instances of 'str' and 'int'

In [17]:
mytuple=(31,2,3,5.0,19)
sorted(mytuple)

[2, 3, 5.0, 19, 31]

In [18]:
mytuple=("abc","and",'hmm','yeah','okay','acha','haa','naa')
sorted(mytuple)

['abc', 'acha', 'and', 'haa', 'hmm', 'naa', 'okay', 'yeah']

In [25]:
mytuple=(1,2,3,4,1)
print(max(mytuple))
print(min(mytuple))
print(sum(mytuple))
print(mytuple.count(1))

4
1
11
2

In [26]:
mytuple=(1,2,3,4,1)
mytuple.index(3)

2

In [34]:
mytuple=("abc","and",'hmm','yeah','okay','acha','haa',('naa','naaa naaa','nana nahii'))
print(mytuple[7][2])

nana nahii

    list-> []
    tuple-> ()
    set-> {}

In [37]:
set={1,2,3,'four',6,5,4,7,'*',6}
set

{'*', 1, 2, 3, 4, 5, 6, 7, 'four'}

In [42]:
l1=[1,2,3,(4,5,6)]
t1=(1,2,3,[4,5,6])
print(l1,type(l1))
print(t1,type(t1))

[1, 2, 3, (4, 5, 6)] <class 'list'>
(1, 2, 3, [4, 5, 6]) <class 'tuple'>

In [47]:
set1={1111,1111,1111,111,111,11,1,1}
set1

{1, 11, 111, 1111}

In [46]:
#WAPT print sum of all odd no.s in tuple
tuple1=(1,2,3,4,5,6,7,8,9,10)
sumt=0
for i in tuple1:
    if (i%2!=0):
        sumt+=i
print(sumt)

25

In [51]:
s1={1,2,3}
s2={2,4,5}
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
#WAP ask the user for an integer input and create a list that consists the factors of that integer

In [70]:
num=int(input("Enter the number to find factors of:"))
list1=[]
for i in range (1,num+1):
    if num%i==0:
        list1.append(i)
print("\n=================list of factors of ",num,"=================")
print(list1 )

Enter the number to find factors of:360

=================list of factors of  360 =================
[1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 18, 20, 24, 30, 36, 40, 45, 60, 72, 90, 120, 180, 360]