In [1]:
def sum_sub(a,b):
    add=a+b
    product=a*b
    division=a/b
    return add,product,division

num1=6
num2=3
result=sum_sub(num1,num2)
print(result)
print(type(result))
add,product,division=result
print("Sum=",add)
print("Product={}".format(products))

(9, 18, 2.0)
<class 'tuple'>
Sum= 9

NameError: name 'products' is not defined

In [ ]:
y1=50
def myfunc():
    y1=20
    print(y1)
myfunc()
print(y1)

In [ ]:
global_var=10
def func():
    local_var=50
    print("Inside func():",global_var)
func()
print("Outside func():",local_var)

In [ ]:
z=300
def myfunc():
    z=34
    print(z)
myfunc()
print(z)

In [ ]:
b=300
def myfunc():
    global b
    b=20
    print(b)
myfunc()
print(b)

In [ ]:
try:
    k=5/0
    print(k)
except: 
    print("This is always executed")
finally:
    print("always executed")

In [ ]:
class Example:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
e=Example(6,8)
print(e.add())
print(e.a)

In [ ]:
class Analyzer:
    def __init__(self,s):
        s=s.lower()
        self.words=s.split()
    def number_of_words(self):
        return len(self.words)
s="This is a test of how our class Analyzer will work.let's see"    
analyzer=Analyzer(s)  
analyzer.words

In [ ]:
analyzer.number_of_words()

In [ ]:
class Person:
    def __init__(self,name,age,branch):
        self.name=name
        self.age=age
        self.branch=branch
    def greet(self):
        print("Hello,my name is {} and I am {} years old.".format(self.name,self.age))
    def edu_info(self):
        print("i have completed my bTech in {}".format(self.branch))

In [ ]:
person1=Person("Alice",30,'CSE')

In [ ]:
person1.greet()

In [ ]:
person1.edu_info()

In [ ]:
class Car:
    pass

In [ ]:
obj=Car()

In [ ]:
class Counter:
    def set_count(self,count):
        self.count=count
counter_without_init=Counter()
counter_without_init.set_count(10)
print("Counter without init method:",counter_without_init.count)

In [ ]:
class Counter:
    def __init__(self,count):
        self.count=count
counter_with_init=Counter(5)
print("Counter with init method:",counter_with_init.count)

In [ ]:
class MyClass:
    def __init__(self,name):
        self.name=name
        print(f"{self.name}created")
    def __del__(self):
         print(f"{self.name}destroyed")
obj1=MyClass("Object 1 ")
obj2=MyClass("Object 2 ")
del obj1
del obj2

  - No Underscore:       Not protected
  - Single Underscore:   Protected   
  - Double Underscore:   Private

In [ ]:
class BankAccount: 
    def __init__ (self, account_number, balance=0): 
        self.account_number = account_number # Encapsulated attribute 
        self.balance = balance # Encapsulated attribute 
    def deposit(self, amount): 
        if amount > 0: 
            self.balance += amount 
    def withdraw(self, amount): 
        if 0 < amount <= self.balance: 
            self.balance -= amount 
    def get_balance(self): 
        return self.balance 
    def get_account_number(self): 
        return self.account_number

In [ ]:
# Create an instance of BankAccount 
account = BankAccount("123456", 1000) 

# Deposit and withdraw money 
account.deposit(500) 
account.withdraw(200) 

# Get account balance and number 
print("Account balance:", account.get_balance()) 
print("Account number:", account.get_account_number())

In [ ]:
class Dog: 
    def speak(self): 
        return "Woof!" 
class Cat: 
    def speak(self): 
        return "Meow!" 
# Creating instances of animals 
dog = Dog() 
cat = Cat() 
# Using abstraction to make animals speak 
print("Dog says:", dog.speak()) # Output: Dog says: Woof! 
print("Cat says:", cat.speak()) # Output: Cat says: Meow!

In [ ]:
# Example 1 
class Animal: 
    def speak(self): 
        pass 
class Dog(Animal): 
    def speak(self): 
        return "Woof!" 
class Cat(Animal): 
    def speak(self): 
        return "Meow!" 
# Creating instances of animals 
dog = Dog() 
cat = Cat() 
# Using abstraction to make animals speak 
print("Dog says:", dog.speak()) # Output: Dog says: Woof! 
print("Cat says:", cat.speak()) # Output: Cat says: Meow!

In [ ]:
class Shape: 
    def area(self): 
        pass 
    def perimeter(self):
        pass
    # Example 2 
class Rectangle(Shape): 
    def __init__ (self, width, height): 
        self.width = width 
        self.height = height 
    def area(self): 
        return self.width * self.height 
    def perimeter(self): 
        return 2 * (self.width + self.height)

In [ ]:
a=Rectangle(4,5)
a.area()
a.perimeter()

In [ ]:
class Circle(Shape): 
    def __init__(self, radius): 
        self.radius = radius 
    def area(self): 
        return 3.14 * self.radius * self.radius 
    def perimeter(self): 
        return 2 * 3.14 * self.radius

In [ ]:
ob=Circle(2)
ob.area()

In [ ]:
ob.perimeter()

In [ ]:
class Triangle(Shape): 
    def __init__(self, base, height): 
        self.base = base 
        self.height = height 
    def area(self): 
        return 0.5 * self.base * self.height 
    def perimeter(self): 
    # Assuming it's an equilateral triangle 
        return 3 * self.base

In [ ]:
# Creating instances of different shapes 
rectangle = Rectangle(4, 5) 
circle = Circle(3) 
triangle = Triangle(4, 5) 
# Using abstraction to calculate areas and perimeters 
print("Rectangle Area:", rectangle.area()) 
print("Rectangle Perimeter:", rectangle.perimeter()) 
print("Circle Area:", circle.area()) 
print("Circle Perimeter:", circle.perimeter()) 
print("Triangle Area:", triangle.area()) 
print("Triangle Perimeter:", triangle.perimeter())

In [ ]:
class Parent: 
    def m1(self): 
        print("Parent class m1 method") 
class Child(Parent): 
     def m2(self): 
        print("Child class m2 method") 
c = Child() 
c.m1() 
c.m2()

In [ ]:
class Parentl: 
    def m1(self): 
        print("Parentl Method") 
class Parent2: 
    def m2(self): 
        print("Parent2 Method") 
class Child(Parentl, Parent2): 
    def m3(self): 
        print("Child Method") 
c=Child() 
c.m1() 
c.m2() 
c.m3()

In [ ]:
class A: 
    def m1(self): 
        print("Parent class A: ml Method") 
class B(A): 
    def m2(self): 
        print("Child class B derived from A: m2 Method") 
class C(B): 
    def m3(self): 
        print("Child class C derived from B: m3 Method") 
obj=C() 
obj.m1() 
obj.m2() 
obj.m3()

In [ ]:
# The base class 
class Parent: 
    def funA(self): 
        print("This function is in the parent class.") 
# Derived class one 
class Child_one(Parent): 
    def funB(self): 
        print("This function is in class child_one.") 
# Derived class two 
class Child_two(Parent): 
    def funC(self): 
        print("This function is in class child_two.")

In [ ]:
obj=Child_two()
obj.funC()

In [ ]:
class A: 
    def funcA(self): 
        print("Hello, you are now in class A") 
class B(A): 
    def funcB(self): 
        print("Hello, you are now in class B") 
class C(A): 
    def funcC(self): 
        print("Hello, you are now in class C") 
class D(C,A): 
    def funcD(self): 
        print("Hello, you are now in class D") 
obj = D() 
obj.funcD() 
obj.funcC() 
obj.funcA()

In [ ]:
# Example 
a =10 
b =20 
print('Addition of 2 numbers:', a + b) 
strl = 'Hello ' 
str2 = 'Python' 
print('Concatenation of 2 strings:', strl + str2) 
listl = [1, 2, 3] 
list2 = ['A', 'B'] 
print('Concatenation of 2 lists:', listl + list2)

In [ ]:
# Example 
a =10 
b =5 
print('Multiplication of 2 numbers:', a * b) 
num = 3 
mystr = 'Python'
print('Multiplication of string:', num * mystr)

In [ ]:
# Example 
mystr = 'Programming' 
print('Length of string:', len(mystr)) 
mylist = [1, 2, 3, 4, 5] 
print('Length of list:', len(mylist)) 
mydict = {1: 'One', 2: 'Two'} 
print('Length of dict:', len(mydict))

In [ ]:
class Animal: 
    def speak(self): 
        pass 
class Dog(Animal): 
    def speak(self): 
        return "Woof!" 
class Cat(Animal): 
    def speak(self): 
        return "Meow!" 
class Duck(Animal): 
    def speak(self): 
        return "Quack!" 
# Function to make any animal speak 
def make_speak(animal): 
    print(animal.speak()) 
# Creating instances of different animals 
dog = Dog() 
cat = Cat() 
duck = Duck() 
# Using polymorphism to make animals speak 
make_speak (dog) 
make_speak(cat) 
make_speak (duck)

In [ ]:
class Vehicle: 
    def __init__(self, brand, model, price): 
        self.brand = brand 
        self.model = model 
        self.price = price 
    def show(self): 
        print('Details:', self.brand, self.model, 'Price:', self.price) 
    def max_speed(self): 
        print('Vehicle max speed is 160') 
    def gear_system(self): 
        print('Vehicle has 6 shifter gearbox') 
    # 1inherit from vehicle class 
class Car(Vehicle): 
    def max_speed(self): 
        print('Car max speed is 260') 
    def gear_system(self): 
        print('Car has Automatic Transmission') 
# Car Object 
car = Car('Audi’', 'R8', 9000000) 
car.show() 
# call methods from Car class 
car.max_speed() 
car.gear_system() 
# Vehicle Object 
vehicle = Vehicle('Nissan', 'Magnite’', 550000) 
vehicle.show() 
# call method from a Vehicle class 
vehicle.max_speed() 
vehicle.gear_system()

In [ ]:
#Example 1 
class Example: 
    @staticmethod 
    def static_method(): 
        print("This is a static method") 
# Call the static method directly using the class name 
Example.static_method()

In [ ]:
# Example 2 
class MathOperations: 
    @staticmethod 
    def add(x, y): 
        return x + y 
    @staticmethod 
    def multiply(x, y): 
        return x * y 
# Calling static methods directly using the class name 
print(MathOperations.add(5, 3)) # Output: 8 
print(MathOperations.multiply(5, 3)) # Output: 15

In [ ]:
MAX_VALUE = 100 # Constant variable

In [ ]:
class Example: 
    def _final_method(self): 
        print("This is a final method")
e=Example()        
e._final_method()

In [ ]:
class Car: 
    def __init_ (self, make, model, year): 
        self.make = make # Encapsulation using a leading underscore (Pub 
        self._model = model # Encapsulation using a leading underscore (Pr 
        self.__year = year # Encapsulation using two Leading underscores 
    def display_info(self): 
        print(f"Car: {self.make} {self._model}") 
# Creating an instance of the Car class 
car1 = Car("Toyota", "Camry", 2020) 
# Using encapsulation to access attributes indirectly 
car1.display_info() 
# Accessing various attributes directrly 
print(car1.make) 
print(car1._model) 
print(car1.__year)

In [ ]:
# o get the location of your current working directory 
import os 
os.getcwd()

In [ ]:
f = open("myfile.txt", "x")

In [ ]:
f.close()

In [ ]:
f = open("myfile.txt", "a") 
f.write("Now the file has some content!") 
f.close()

In [ ]:
f = open("myfile.txt", "r")
print(f.read())

In [ ]:
f = open("myfile.txt", "w") 
f.write("Oops! I deleted the content") 
f.close()

In [ ]:
f = open("myfile.txt", "r")
print(f.read())

In [ ]:
import os 
os.getcwd()

In [ ]:
f = open("myfile.txt") 
f.read() 
# OR f = o

In [ ]:
f=open("myfile.txt", "r") 
for x in f: 
   print(x)

In [ ]:
f.close()

In [ ]:
import os 
os.remove("myfile.txt")

In [ ]:
#Check if file exists, then delete it: 
import os 
if os.path.exists("myfile.txt"): 
    os.remove("myfile.txt") 
else: 
    print("The file does not exist")

In [ ]:
import os 
os.rmdir("myfolder")

In [ ]:
def LinearSearch(array, n, k):
    for j in range(0, n):
        if (array[j] == k):
            return j
    return -1
array = [1, 3, 5, 7, 9]
k = 7
n = len(array)
result = LinearSearch(array, n, k)
if(result == -1):
    print("Element not found")
else:
    print("Element found at index: ", result)

In [2]:
def binary_search(list_num , to_search):
    first_index = 0
    size = len(list_num)
    last_index = size - 1
    mid_index = (first_index + last_index) // 2
    # print(mid_index)
    mid_element = list_num[mid_index]
    # print(mid_element)
    is_found = True
    while is_found:
        if first_index == last_index:
            if mid_element != to_search:
                is_found = False
                return " Does not appear in the list"
        elif mid_element == to_search:
            return f"{mid_element} occurs in position {mid_index}"
        elif mid_element > to_search:
            new_position = mid_index - 1
            last_index = new_position
            mid_index = (first_index + last_index) // 2
            mid_element = list_num[mid_index]
            if mid_element == to_search:
                return f"{mid_element} occurs in position {mid_index}"
        elif mid_element < to_search:
            new_position = mid_index + 1
            first_index = new_position
            last_index = size - 1
            mid_index = (first_index + last_index) // 2
            mid_element = list_num[mid_index]
            if mid_element == to_search:
                return f"{mid_element} occurs in position {mid_index}"
list_container = [16 , 18 , 20 , 50 , 60 , 81 , 84 , 89]
print(binary_search(list_container , 81))
print(binary_search(list_container , 10))

81 occurs in position 5
 Does not appear in the list

In [3]:
# Creating a bubble sort function
def bubble_sort(list1):
    # Outer loop for traverse the entire list
    for i in range(0,len(list1)-1):
        for j in range(len(list1)-1):
            if(list1[j]>list1[j+1]):
                temp = list1[j]
                list1[j] = list1[j+1]
                list1[j+1] = temp
    return list1
list1 = [5, 3, 8, 6, 7, 2]
print("The unsorted list is: ", list1)
# Calling the bubble sort function
print("The sorted list is: ", bubble_sort(list1))

The unsorted list is:  [5, 3, 8, 6, 7, 2]
The sorted list is:  [2, 3, 5, 6, 7, 8]

In [12]:
import numpy as np 
from numpy import array

In [15]:

my_list = [1,2,3] 

np.array(my_list) 

my_matrix = [[1,2,3],[4,5,6],[7,8,9]] 

np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [16]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

In [19]:
np.zeros(3)

array([0., 0., 0.])

In [20]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [21]:
np.ones(3)

array([1., 1., 1.])

In [22]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [23]:
np.linspace(0,10,3)

array([ 0.,  5., 10.])

In [24]:
np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [25]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [26]:
np.random. rand(2)

array([0.48523078, 0.6451579 ])

In [27]:
np.random. rand(5)

array([0.13533205, 0.05540398, 0.57356302, 0.00221801, 0.20513943])

In [30]:
np.random. rand(5,5)

array([[0.18783461, 0.36392331, 0.86066846, 0.22283729, 0.84438579],
       [0.03135638, 0.13206944, 0.70788596, 0.10049664, 0.74741796],
       [0.90834426, 0.44126999, 0.289937  , 0.53253121, 0.96558965],
       [0.50139564, 0.98372073, 0.2293884 , 0.19097786, 0.18133781],
       [0.13475665, 0.06105839, 0.36941459, 0.82749393, 0.14221568]])

In [31]:
np.random. randn(2)

array([-2.13133147, -1.35397298])

In [32]:
np.random.randn(5,5)

array([[ 0.96468082,  0.16287543,  0.46688937, -0.18191622,  0.25817265],
       [ 0.70680335,  0.12905974, -0.38956811, -2.53392446, -0.16331489],
       [-0.74317643,  0.5249466 ,  0.96146394, -0.2815281 , -1.016326  ],
       [ 1.24734626,  0.47452451, -0.07913503, -1.41981746, -1.55158895],
       [ 0.17998205,  2.26029322,  1.04357069, -1.85845213,  0.71044914]])

In [33]:
np.random.randint(1,100)

8

In [34]:
np.random.randint(1,100,10)

array([93, 44, 76, 79, 72, 79, 56, 87, 11, 62])

In [35]:
arr = np.arange(25) 
ranarr = np.random.randint(0,50,10)

In [36]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [37]:
ranarr

array([ 6, 24, 25, 19, 41, 44, 39, 24, 45, 41])

In [38]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [39]:
ranarr

array([ 6, 24, 25, 19, 41, 44, 39, 24, 45, 41])

In [40]:
ranarr.max()

45

In [41]:
ranarr.argmax()

8

In [42]:
ranarr.min()

6

In [43]:
ranarr.argmin()

0

In [45]:
arr.shape

(25,)

In [46]:
arr.reshape(1,25)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [47]:
arr.reshape(1,25).shape

(1, 25)

In [48]:
arr.reshape(25,1)

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24]])

In [49]:
arr.reshape(25,1).shape

(25, 1)

In [50]:
arr.dtype

dtype('int32')

In [58]:
import numpy as np 
#Creating sample array 
arr = np.arange(0,11 )
#Show 
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [59]:
arr[8]

8

In [60]:
arr[1:5]

array([1, 2, 3, 4])

In [61]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [62]:
arr[0:5]=100
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [63]:
arr = np.arange(0,11)

In [64]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [65]:
slice_of_arr = arr[0:6]

In [66]:
slice_of_arr

array([0, 1, 2, 3, 4, 5])

In [67]:
slice_of_arr[:]=99 
slice_of_arr

array([99, 99, 99, 99, 99, 99])

In [68]:
arr

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [69]:
arr_copy = arr.copy() 
arr_copy

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [71]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))

In [72]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [73]:
arr_2d[1]

array([20, 25, 30])

In [74]:
arr_2d[1][0]

20

In [75]:
arr_2d[:2,1:]

array([[10, 15],
       [25, 30]])

In [76]:
arr_2d[2]

array([35, 40, 45])

In [77]:
arr_2d[2,:]

array([35, 40, 45])

In [89]:
arr2d = np.zeros((10,10))

In [93]:
arr_length = arr2d.shape[1]

In [96]:
arr_length

10

In [99]:
for i in range(arr_length):
 arr2d[i] = i

In [100]:
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [3., 3., 3., 3., 3., 3., 3., 3., 3., 3.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [7., 7., 7., 7., 7., 7., 7., 7., 7., 7.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.]])

In [101]:
arr2d[[2,4,6,8]]

array([[2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8.]])

In [102]:
arr2d[[6,4,2,7]]

array([[6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [7., 7., 7., 7., 7., 7., 7., 7., 7., 7.]])

In [103]:
arr = np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [104]:
arr > 4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [106]:
bool_arr = arr>4
bool_arr

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [107]:
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [108]:
arr[arr>2]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [109]:
x = 2
arr[arr>x]

array([ 3,  4,  5,  6,  7,  8,  9, 10])

In [110]:
import numpy as np
arr = np.arange(0,10)
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [111]:
arr * arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [112]:
arr - arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [113]:
arr/arr

C:\Users\Admin\AppData\Local\Temp\ipykernel_10472\1862401812.py:1: RuntimeWarning: invalid value encountered in divide
  arr/arr

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [114]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [115]:
1/arr

C:\Users\Admin\AppData\Local\Temp\ipykernel_10472\255282349.py:1: RuntimeWarning: divide by zero encountered in divide
  1/arr

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [116]:
arr**3

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [117]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [118]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [119]:
np.max(arr)

9

In [120]:
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [121]:
np.log(arr)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10472\3120950136.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(arr)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [122]:
import pandas as pd
import numpy as np

In [123]:
from numpy.random import randn
np.random.seed(101)

In [125]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [126]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [127]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [128]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [129]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [130]:
type(df['W'])

pandas.core.series.Series

In [134]:
df['new'] = df['W'] + df['Y']

In [135]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [140]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [141]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [142]:
df.drop('new',axis=1,inplace=True)

In [143]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [144]:
 df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [145]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [146]:
 df.drop('E',axis=0,inplace=True)

In [147]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [148]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [149]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [150]:
df.loc['B','Y']

-0.8480769834036315

In [151]:
 df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [152]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [154]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True

In [155]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057

In [156]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [157]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
Name: Y, dtype: float64

In [159]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872

In [160]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [161]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [162]:
import numpy as np
import pandas as pd

In [163]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [164]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [165]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object